
<div>
    <a href="/">Home</a>
    <form action="/task2/search" method="post"/>
        <input type="text" name="searchValue"/>
        <input type="submit" value="Search"/>
    </form>
    {{{data}}}
</div>
